<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
  <!--   <class name="com.FakeAPI.test.AilinePassengers.PassengerDataTest"/>  -->
     <!-- <class name="com.FakeAPI_Passengers.AirlinePassengerEndToEndTests"/> -->
      <!-- <class name="com.AravindaLabs.day1.HTTPRequests"/> -->
      <class name="com.RestAssured.TestUsingPojo.CreateAirlineDataPojoTest"/>
      <class name="com.AravindaLabs.test.day2.PostDataCreation"/>
    </classes>
  </test> 
</suite> 
